<!-- the line below represents the reusable ejs code so we don't have to continuosly write it for each page -->
<%- include('partials/header') -%> 
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">

            <form action="/story/createStory" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="story" class="form-label">Story</label>
                <input type="text" class="form-control" id="story" name="story">
            </div>
              <!-- <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div> -->
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<stories.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/story/<%= stories[i]._id%>"> 
              <% stories[i].story %>'s story
              <!-- <h2><% stories[i]._id %></h2> -->
              <!-- <img class="img-fluid" src="<%= stories[i].story%>"> -->
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <!-- <a class="btn btn-primary" href="/feed">Return to Main</a> -->
          <a class="btn btn-primary" href="/home">Return to Homepage</a>
        </div>  
      </div>  
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <a class="btn btn-primary" href="/feed">Shared Stories</a>
</div> 
<%- include('partials/footer') -%>
<!-- the line above represents the reusable ejs code so we don't have to continuosly write it for each page -->
<!-- content in the header  -->