<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/feedStyles.css" rel="stylesheet" /> -->
    </head>
    <body>

      <!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<!-- <a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
								</a> -->

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
                        </div>
                    </header>
                            <!-- Menu -->
					            <nav id="menu">
						            <h2>Menu</h2>
						                <ul>
							                <li><a href="/home">Home</a></li>
							                <li><a href="/profile">Profile</a></li>
							                <li><a href="/feed">Shared Stories</a></li>
                              <li><a href="/logout">Logout</a></li>
						                </ul>
					            </nav>

      <%- include('partials/header') -%> 
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Profile</h1>
                    <!-- <p class="lead fw-normal text-white-50 mb-0">Look at Other User's Stories</p> -->
                </div>
            </div>
        </header>

        
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
        
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <!-- <a href="/logout" class="btn btn-primary">Logout</a> -->
          </div>
       
          <div class="mt-5">

            <form action="/story/createStory" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="story" class="form-label">Story</label>
                <!-- <input type="text" class="form-control" id="story" name="story"> -->
                <textarea type="text" class="form-control" name="story" id="story" ></textarea>
            </div>
              <!-- <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div> -->
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    

      <!-- Shows all the stories that the logged in user has created -->
      <div class="col-6">
        <ul class="row list-unstyled">
          <h2>My Stories</h2>
        <% for(var i=0; i<stories.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/story/<%= stories[i]._id%>"> 
              View Story
              <!-- <h2><% stories[i]._id %></h2> -->
              <!-- <img class="img-fluid" src="<%= stories[i].story%>"> -->
            </a>
          </li>
        <% } %>
        </ul>
        <!-- <div class="row justify-content-center mt-5">
          <div class="col-6 mt-5">
            <a class="btn btn-primary t-2" href="/home">Home</a>
            <a class="btn btn-primary t-2" href="/feed">Shared Stories</a> -->
            <!-- <a href="/logout" class="btn btn-primary">Logout</a> -->
          <!-- </div>
          <a class="btn btn-primary" href="/feed">Return to Main</a>
          <a class="btn btn-primary" href="/home">Home</a>
          <a class="btn btn-primary" href="/feed">Shared Stories</a>
        </div>   -->
      </div>  
    </div>
  </div>
</div>

<!-- <div class="row justify-content-center mt-5">
  <a class="btn btn-primary" href="/feed">Shared Stories</a>
</div>  -->
<%- include('partials/footer') -%>

</body>
</html>
